header{
    background: rgba(62, 26, 32, 0.89);
}

.list-nav li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0 5%;
    margin-top: 3%;
     }
.list-nav a{
    color: #ffffff;
    }
/* fin de header */

.hero{
    background: url(../images/14925652_1390705880954514_777862685800696706_n.jpg) no-repeat;
    background-size: cover;
    height: 600px;
    color: #f3f3f8;
    text-align: center;
    }

h1{
    margin-top: 15%;
}
/* fin hero*/

.about{
    background: rgba(118, 14, 14, 0.78);
    color: #ffffff;
    text-align: center;
    padding-bottom: 2%;
}

h3{
    padding: 2%;
    
}

.about img{
    border-radius: 30%;
    width: 100px,
   }

.about p{
    font-size: 20px;
}
/*finde about*/

.favorito{
    background: rgba(240, 220, 220, 0.67);
    text-align: center;
    color: #902a2a;
    padding-bottom: 2%;
}

.favorito img{
    border-radius: 100%;
    width: 250px;
}

/* fin favorito*/

footer{
    background: rgb(92, 11, 11);
    color: #ffffff;
    text-align: center;
}
footer img {
    width: 50px;
}